//
// Fonts
//

$font-path: "../fonts/";

// Road Rage
// Credit to Youssef Habchi - http://youssef-habchi.com/
@font-face {
	font-family: "Road Rage";
	src:
		url("#{$font-path}/road_rage-webfont.woff2") format("woff2"),
		url("#{$font-path}/road_rage-webfont.woff") format("woff"),
		url("#{$font-path}/road_rage-webfont.ttf") format("truetype"),
		url("#{$font-path}/road_rage-webfont.svg#road_rageregular") format("svg");
	font-weight: normal;
	font-style: normal;
}