//
// Navigation
//

nav, .nav {
	padding: 0;
	margin: 0;

	ul {
		@include list-reset;
	}
}

.nav--main {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1em;
	font-size: 3em;
	font-family: $overpass-mono;

	li {
		display: block;
	}

	a {
		display: block;
		text-decoration: none;
		padding: 0.35em;
		transition: all 0.2s ease-in-out;
	}
}

.nav--utility {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1.2rem;
	font-weight: 600;

	ul {
		display: block;
	}

	li {
		display: inline;
	}

	a {
		display: inline-block;
		color: $shade;
		margin: 0 0.35em;

		&:hover, &:focus, &:active {
			color: $yellow;
		}
	}
}

@media #{$bp-medium-max} {
	.mobile-nav-container {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: $dark;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;

		&.is-active {
			opacity: 1;
			visibility: visible;
		}
	}

	.burger {
		width: 30px;

		svg .bar {
			fill: $pink;
		}

		&.is-active svg .bar {
			fill: $lime;
		}
	}
}

@media #{$bp-medium} {
	.nav--main {
		font-size: 1.6em;

		li {
			margin: 0.5em 0;

			@include nther( 1, $pink, $pink );
			@include nther( 2, $lime, $lime );
			@include nther( 3, $teal, $teal );
			@include nther( 4, $yellow, $yellow );
		}

		a {
			position: relative;
			z-index: 1;

			&:hover {
				color: $mid !important;
			}

			&:after {
				$w: 5px;
				position: absolute;
				left: calc(50% - #{$w});
				display: block;
				content: " ";
				width: $w;
				height: 2px;
				transform-origin: center;
				transition: all 2s ease-in-out;
				transition-delay: 0.3s;
			}

			&:before {
				position: absolute;
				top: 0; left: 0;
				z-index: -1;
				display: block;
				content: " ";
				width: 100%;
				height: 100%;
				border-radius: $radius;
				transition: all 0.2s ease-in-out;
				transform: scaleX(0) skewX(-15deg);
				transform-origin: center;
			}

			&:hover {

				&:before {
					transform: scaleX(1) skewX(-15deg);
				}

				&:after {
					transform: scaleX(3);
				}
			}
		}
	}

	.nav--utility {
		position: absolute;
		bottom: 3em;
		width: calc( 100% - 2.5em );
	}
}
