//
// Social
//

.social {
	display: block;
	background: rgba($dark, 0.5);
	font-size: 1.6em;
	text-align: center;
	margin: 0.75em 0;
	padding: 0.25em;
	border-radius: 5px;

	&:hover a {
		opacity: 0.75;
		transform: scale(0.8);
	}

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@include list-reset;
	}

	li {
		flex: 1;
		align-self: stretch;
	}

	a {
		display: block;
		text-decoration: none;
		transition: all 0.2s ease-in-out;

		&.social-link--codepen {
			color: $light;
		}

		&.social-link--twitter {
			color: $twitter;
		}

		&.social-link--github {
			color: $github;
		}

		&.social-link--contact {
			color: $yellow;
		}

		&:hover {
			color: $yellow;
			transform: scale(1.15);
		}
	}

	span {
		display: none;
	}
}