//
// Structure
//

// Content
.content {

}

// Sidebar
.sidebar {
	position: relative;
	height: 100vh;
	background: rgba($mid, 0.85);
	padding: $sidebar-padding;
}

// Logo
.logo {
	display: block;
	margin: 0;
	padding: 0;

	a {
		display: block;
		text-decoration: none;
		overflow: visible;
	}
}

.logotype {
	display: block;
	max-width: 75%;
	height: auto;
	margin: 0 auto;
	overflow: visible !important;

	body.home & {
		// on-the-fly timining and delay vars
		$n: 0.35s; // delay
		$m: 1.3; // modifier

		#complete, .bracket {
			transform-origin: 50%;
			opacity: 0;
		}

		#complete {
			transform: translateY(1em) rotate(-20deg) scale(2);
			animation: skateDeck $n forwards ease 1;
			animation-delay: $n * ( $m + 1 );
		}

		#bracket_right {
			transform: translateX(0.5em) scale(0.85);
			animation: bracketRight $n forwards ease 1;
		}

		#bracket_left {
			transform: translateX(-0.5em) scale(0.85);
			animation: bracketLeft $n forwards ease 1;
			animation-delay: $n * $m;
		}
	}
}

// Footer
footer {
	font-size: 0.7em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	p {
		margin: 0;
		padding: 0;
	}
}

@media #{$bp-medium} {
	.content, footer {
		width: $content-width;
		padding: 4em 8em;
	}

	.content-inner, .footer-inner {
		margin-left: $sidebar-width;
	}

	.sidebar {
		position: fixed;
		left: 0;
		top: 0;
		width: $sidebar-width;
	}
}