<div class="social">
  <ul>
    <li>
      <a class="social-link social-link--codepen" href="https://codepen.io/bloqhead/">
        <i class="fa fa-codepen" aria-hidden="true"></i> <span>Codepen</span>
      </a>
    </li>
    <li>
      <a class="social-link social-link--github" href="https://github.com/bloqhead/">
        <i class="fa fa-github" aria-hidden="true"></i> <span>Github</span>
      </a>
    </li>
    <li>
      <a class="social-link social-link--twitter" href="https://twitter.com/bloqhead">
        <i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span>
      </a>
    </li>
    <li>
      <a class="social-link social-link--contact" href="/contact/">
        <i class="fa fa-comment" aria-hidden="true"></i> <span>Contact</span>
      </a>
    </li>
  </ul>
</div> <!-- .social -->
