<div class="row work-grid">
	<article class="col-xs-12 col-sm-6 col-md-4 work-grid__item">
		<a href="http://www.ut.edu/" class="work-grid__item-link" rel="external">
			<img class="work-grid__item-image" src="/img/work/ut.jpg" alt="University of Tampa">
			<div class="work-grid__item-info">
				<h3 class="work-grid__item-title">
					<span>University of Tampa</span>
				</h3>
			</div>
		</a>
	</article>
	<article class="col-xs-12 col-sm-6 col-md-4 work-grid__item">
		<a href="https://mote.org/" class="work-grid__item-link" rel="external">
			<img class="work-grid__item-image" src="/img/work/mote.jpg" alt="Mote Marine Laboratory &amp; Aquarium">
			<div class="work-grid__item-info">
				<h3 class="work-grid__item-title">
					<span>Mote Marine Laboratory &amp; Aquarium</span>
				</h3>
			</div>
		</a>
	</article>
	<article class="col-xs-12 col-sm-6 col-md-4 work-grid__item">
		<a href="https://revsinstitute.org/" class="work-grid__item-link" rel="external">
			<img class="work-grid__item-image" src="/img/work/revs.jpg" alt="Revs Institute">
			<div class="work-grid__item-info">
				<h3 class="work-grid__item-title">
					<span>Revs Institute</span>
				</h3>
			</div>
		</a>
	</article>
	<article class="col-xs-12 col-sm-6 col-md-4 work-grid__item">
		<a href="http://thebrewerybay.com/" class="work-grid__item-link" rel="external">
			<img class="work-grid__item-image" src="/img/work/tbb.jpg" alt="The Brewery Bay">
			<div class="work-grid__item-info">
				<h3 class="work-grid__item-title">
					<span>The Brewery Bay</span>
				</h3>
			</div>
		</a>
	</article>
</div> <!-- .work-grid -->