{% extends 'layout.html' %}

{% block masthead %}
<header class="masthead">
	<div class="masthead__inner row">
		<div class="col-sm-5">
			<div class="clipped">
				<div class="clipped__content clipped__area">
					<img src="/img/me.jpg" alt="Daryn's Face">
				</div>
				<div class="clipped__shadow clipped__area"></div>
			</div>
		</div>
		<div class="col-sm-7">
			<h1 class="masthead__title">Hello</h1>
			<div class="masthead__blurb">
				<p>My name is Daryn St. Pierre. I build websites at <a href="https://bigseadesign.com">Big Sea</a> in sunny St. Petersburg, Florida.</p>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block body %}

	{% include 'partials/badges.html' %}

{% endblock %}
