{% extends 'layout.html' %}

{% block body %}
<div class="container content">

	<div class="intro">
		<!-- @todo something interesting -->
	</div> <!-- .intro -->

	<div class="work">

		<article class="work__item">
			<a href="#" class="work__item-link">
				<img class="work__item-image" src="http://placehold.it/400x400" alt="Work Item">
				<div class="work__item-info">
					<h3 class="work__item-title">Work Item Title</h3>
				</div>
			</a>
		</article>

		<article class="work__item">
			<a href="#" class="work__item-link">
				<img class="work__item-image" src="http://placehold.it/400x400" alt="Work Item">
				<div class="work__item-info">
					<h3 class="work__item-title">Work Item Title</h3>
				</div>
			</a>
		</article>

		<article class="work__item">
			<a href="#" class="work__item-link">
				<img class="work__item-image" src="http://placehold.it/400x400" alt="Work Item">
				<div class="work__item-info">
					<h3 class="work__item-title">Work Item Title</h3>
				</div>
			</a>
		</article>

	</div> <!-- .work -->

</div> <!-- .container -->
{% endblock %}
