<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<title>{% if title %}{{title}} | {% endif %}Daryn St. Pierre | Front-End Web Developer</title>
		<script src="https://use.fontawesome.com/a4bc0a3d5c.js"></script>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body class="no-js{% if class %} {{class}}{% endif %}">

		<main{% if title %} data-title="&mdash; {{title}} &mdash;{% endif %}">

			{% block masthead %}{% endblock %}

			<div class="content">
				<div class="content-inner">
					{% include "partials/sidebar.html" %}
					{% block body %}{% endblock %}
					{% include "partials/footer.html" %}
				</div> <!-- .content-inner -->
			</div>  <!-- .content -->

		</main>

		{% include "partials/footer-scripts.html" %}

	</body>
</html>
